# Arquivos de ambiente
.env

# Cache e arquivos temporários do Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo
*.pyd

# Notebooks temporários
.ipynb_checkpoints/

# Dados e logs
*.sqlite3
*.db
*.log
*.csv
*.parquet
*.tmp
.DS_Store

# VSCode configs
.vscode/

# Ambientes virtuais
.venv/
env/
venv/
.env